<div class="cards" style="margin-top:20px;">

    <div class="card" style="background:#6c757d;">
        <h3>💸 Dépenses</h3>
        <p>{{ total_depenses }} FC</p>
    </div>

    <div class="card" style="background:#ffc107; color:black;">
        <h3>📈 Bénéfice</h3>
        <p>{{ benefice }} FC</p>
    </div>

</div>

<div class="cards" style="margin-top:20px;">

    <div class="card" style="background:#6c757d;">
        <h3>💸 Dépenses</h3>
        <p>{{ total_depenses }} FC</p>
    </div>

    <div class="card" style="background:#ffc107; color:black;">
        <h3>📈 Bénéfice</h3>
        <p>{{ benefice }} FC</p>
    </div>

</div>