{% extends "joatham_dashboard/base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Produits" %} | JOATHAM Manager{% endblock %}
{% block content_title %}{% block products_title %}{% trans "Produits" %}{% endblock %}{% endblock %}
{% block content_subtitle %}{% block products_subtitle %}{% trans "Gestion des produits et du stock de votre entreprise." %}{% endblock %}{% endblock %}

{% block top_actions %}
<a href="{% url 'product_list' %}" class="btn-link">{% trans "Liste des produits" %}</a>
{% if can_view_stock_ui %}
<a href="{% url 'stock_movement_list' %}" class="btn-link">{% trans "Mouvements stock" %}</a>
{% endif %}
{% if can_inventory_stock_ui %}
<a href="{% url 'inventory_list' %}" class="btn-link">{% trans "Inventaires" %}</a>
{% endif %}
{% if can_view_stock_ui or can_export_stock_ui %}
<a href="{% url 'stock_reports' %}" class="btn-link">{% trans "Rapports stock" %}</a>
{% endif %}
{% if can_manage_products_ui %}
<a href="{% url 'product_create' %}" class="btn-link primary">{% trans "Ajouter un produit" %}</a>
{% endif %}
{% endblock %}
