{% extends "joatham_dashboard/base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Clients" %} | JOATHAM Manager{% endblock %}
{% block content_title %}{% block clients_title %}{% trans "Clients" %}{% endblock %}{% endblock %}
{% block content_subtitle %}{% block clients_subtitle %}{% trans "Gestion de la base clients de votre entreprise." %}{% endblock %}{% endblock %}

{% block top_actions %}
<a href="{% url 'client_list' %}" class="btn-link">{% trans "Liste des clients" %}</a>
<a href="{% url 'add_client' %}" class="btn-link primary">{% trans "Ajouter un client" %}</a>
{% endblock %}
